@import './variables.less';

@font-face {
  font-family: 'PingFang';
  src: url('../../src/assets/fonts/PingFangSCLight.otf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'PingFang';
  position: relative;
  height:100%;
  overflow: hidden;
}

.page {
  background: linear-gradient(to bottom, rgba(5, 59, 68, 0.15) 0%, #094155 100%), radial-gradient(at top center, rgba(194, 214, 234, 0.4) 0%, rgba(90, 148, 207, 0.4) 120%) #394865;
  background-blend-mode: multiply, multiply;
  position: relative;
  width: 100%;
  height: 100%;

}


*::-webkit-scrollbar {
  /*滚动条整体样式*/

  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/

  height: 1px;

}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/

  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);

  background: #535353;

}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/

  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);


  background: #EDEDED;

}

.flex-around{
  justify-content: space-around;
}

.flex-between{
  justify-content: space-between;
}


.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 200px;
  width: 400px;
  max-width: 90%;

  .forget-btn{
    color:#aaa;
  }

  .forget-btn:hover{
    .hover-lightness;
  }

  .forget-btn:active{
    .active-click;
  }

  .login-btn{
    background:@primary;
    color:#fff;
    font-size:20px;
    height:50px;
    border-radius: 10px;
    i{
      font-size:25px;
    }
  }

  .login-btn:focus{
    border:2px solid yellowgreen;
  }

  .forget-btn:focus{
    color:yellowgreen !important;
  }

  .login-btn:hover{
    .hover-lightness;
    background:@primary;
    color:#fff;
  }

  .login-btn:active{
    .active-click;
  }
}


.no-content{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:25px;
  color:#aaa;
  height:100%;
}



.hs-conatiner {
	width: calc(100% );
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.hs-caption {
  
  padding: 10px;
  font-size:14px;
  background: linear-gradient(to bottom, #192438,#23334c);
  border-bottom:1px solid #dfdfdf;
  color:rgb(241, 241, 241);
  overflow: hidden;
  height:40px;
  i{
    font-size:18px;
  }
}

.hs-conatiner-scrollable{
  height:100%;
  overflow-y:auto !important;
}

.ivu-model{
  pointer-events: none;
}

.ivu-select-dropdown{
  border:1px solid #888;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  filter:drop-shadow(1px 1px 2px #ddd);
  margin-top:5px;
}


.animation-split(@n,@i:1) when(@i <= @n){
  &:nth-child(@{i}n){
    animation-duration: (@i)*3s;
  }
  .animation-split(@n, (@i+1))
}

.hs-light{
  >*{
    display: inline-block;
    width:6px;
    height:6px;
    border-left:1px solid #000;
    border-top:1px solid #000;
    border-right:1px solid #666;
    border-bottom:1px solid #666;
    border-radius:3px;
    background:rgb(21, 235, 239);
    margin-left:0;
    animation: light 5s ease-in-out infinite;
    .animation-split(5);
    box-shadow: -1px -1px 1px #000;
  }

  
}

@keyframes light{
  0%{
    background:rgb(2, 252, 206);
  }

  50%{
    background:rgb(26, 26, 26);
  }


  100%{
    background:rgb(17, 255, 239);
  }
}