@import './variables.less';

@font-face {
  font-family: 'PingFang';
  src: url('../../src/assets/fonts/PingFangSCLight.otf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'PingFang';
  position: relative;
  height:100%;
}