@import './variables.less';

@font-face {
  font-family: 'PingFang';
  src: url('../../src/assets/fonts/PingFangSCLight.otf'); //你的资源目录
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'PingFang';
  position: relative;
  height:100%;
  overflow: hidden;
  margin:0;
  width:100%;
}

.page {
  background: linear-gradient(to bottom, rgba(5, 59, 68, 0.15) 0%, #094155 100%), radial-gradient(at top center, rgba(194, 214, 234, 0.4) 0%, rgba(90, 148, 207, 0.4) 120%) #394865;
  background-blend-mode: multiply, multiply;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}






*::-webkit-scrollbar {
  /*滚动条整体样式*/

  width: 8px;
  /*高宽分别对应横竖滚动条的尺寸*/

  height: 8px;

}

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/

  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);

  background: #535353;

}

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/

  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);


  background: #EDEDED;

}

.flex-around{
  justify-content: space-around;
}

.flex-between{
  justify-content: space-between;
}


.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 10%;
  width: 400px;
  max-width: 90%;

  .forget-btn{
    color:#aaa;
  }

  .forget-btn:hover{
    .hover-lightness;
  }

  .forget-btn:active{
    .active-click;
  }

  .login-btn{
    background:@primary;
    color:#fff;
    font-size:20px;
    height:50px;
    border-radius: 10px;
    i{
      font-size:25px;
    }
  }

  .login-btn:focus{
    border:2px solid yellowgreen;
  }

  .forget-btn:focus{
    color:yellowgreen !important;
  }

  .login-btn:hover{
    .hover-lightness;
    background:@primary;
    color:#fff;
  }

  .login-btn:active{
    .active-click;
  }
}

.footer{
  position: absolute;
  bottom:10px;
  left:0;right:0;
  margin:0 auto;
  padding:0 20px;
  color:#aaa;
  text-align: center;
  font-size:12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  >div{
    margin-right:5px;
    
  }
}




.no-content{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:25px;
  color:#aaa;
  height:100%;
}



.hs-conatiner {
	width: calc(100% );
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.hs-caption {
  
  padding: 10px;
  font-size:14px;
  background: linear-gradient(to bottom, #192438,#23334c);
  border-bottom:1px solid #dfdfdf;
  color:rgb(241, 241, 241);
  overflow: hidden;
  height:40px;
  i{
    font-size:18px;
  }
}

.hs-conatiner-scrollable{
  height:100%;
  overflow-y:auto !important;
}

.ivu-model{
  pointer-events: none;
}

.ivu-select-dropdown{
  border:1px solid #000;
  margin-top:5px;
}


.animation-split(@n,@i:1) when(@i <= @n){
  &:nth-child(@{i}n){
    animation-duration: (@i)*3s;
  }
  .animation-split(@n, (@i+1))
}

.hs-light{
  >*{
    display: inline-block;
    width:6px;
    height:6px;
    border-left:1px solid #000;
    border-top:1px solid #000;
    border-right:1px solid #666;
    border-bottom:1px solid #666;
    border-radius:3px;
    background:rgb(21, 235, 239);
    margin-left:0;
    animation: light 5s ease-in-out infinite;
    .animation-split(5);
    box-shadow: -1px -1px 1px #000;
  }

  
}

@keyframes light{
  0%{
    background:rgb(2, 252, 206);
  }

  50%{
    background:rgb(26, 26, 26);
  }


  100%{
    background:rgb(17, 255, 239);
  }
}

.ivu-notice {
  top: 80px !important;

  .ivu-notice-notice {
    background: #23334c;
    color: #fff;

    .ivu-notice-title{
      color:#fff;
    }

    .ivu-notice-desc{
      color:#dfdfdf;
    }
  }
}
.ivu-modal-content .ivu-modal-confirm-head, .ivu-modal-content .ivu-modal-header{
  border-color:#666;
}


.ivu-modal-content{
  .ivu-modal-body{
    position:relative;
    top:0;
  }
}

.ivu-modal-fullscreen{
  .ivu-modal-body{
    height:100%;
  }
}




.file-item{
  width:100%;
  background:#eee;
  display: flex;
  align-items: center;
  background:#fff;
  justify-content: space-between;
  padding:3px 0;
  .flex-wrap:hover{
    cursor: pointer;
    background:rgb(234, 250, 201);
  }
  
  .file-icon{
          width:60px;
          height:30px;
          border-radius: 2px;
          display: flex;
          align-items: center;;
          justify-content: center;
          span{
              border:none;
              position: relative;
              bottom:0;
              color:#fff;
              z-index: 10;
              line-height: auto;
              box-shadow: none;
          }
      }
  
  
  .title{
  padding:0 5px;
  width:250px;
  text-overflow: ellipsis;
  background:linear-gradient(to right,#eee,#eeeeee00);
  height:30px;
  line-height:30px;
  white-space: nowrap;
  overflow: hidden;
  padding-right:30px;
  
  }
  }

  .page-debug{
    color:#aaa;
  }






  
// iPhoneX - portrait
@media only screen and (orientation:portrait) and (max-width:400px) {
  html,body,.page{
    width:100%;
    min-width: 375px;
    height:100%;position: relative;
  }
  .login {
    width: 80%;
    margin-top:30px;
  }

  .page-debug:before {
    content: "现在是竖屏手机";
  }

}

// iPhoneX - landscape
@media only screen and (orientation:landscape) and (max-height:400px) {
  html,body,.page{
    width:100%;
    height:100%;
    overflow: hidden;
  }
  .login {
    width:300px;
    height: 200px;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    zoom:0.95;
    .system-name{
      position: relative;
      top:-100px;
      .caption{
        font-size: 25px !important;
        text-align: center;
      }
    }
  }


  .page-debug:before {
    content: "现在是横屏手机";
  }
}

// ipad - landscape
@media only screen and (orientation:portrait) and (min-width:400px) and (max-width:863px) {
  .login {
    height: auto;
  }

  .page-debug:before {
    content: "竖屏ipad";
  }
}

// ipad - portraint
@media only screen and (orientation:landscape) and (min-height:400px) and (max-height:863px) {
  .login {
    height: auto;
  }

  .page-debug:before {
    content: "横屏ipad";
  }
}

// ipad - portraint
@media only screen and (orientation:landscape) and (min-width:863px) and (max-width:1600px) {
  .login {
    height: auto;
  }

  .page-debug:before {
    content: "窄版pc";
  }
}