/* 重写部分iview界面风格 */
@base-dark: #394865;
@base-accent: #11bdd1;
@base-dark-text: #c9f7ff;
@base-dark-sub-text: #b4b4b4;
@base-error: #de3737;
@base-success: #61b037;

@button: @base-dark;
@color-hover: @button;